In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
X_train_data=pd.read_csv("train.csv",index_col=[0])
X_test_data=pd.read_csv("test.csv",index_col=[0])

In [3]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

X_train_data["Transported"]=lr.fit_transform(X_train_data["Transported"])

In [4]:
y=X_train_data["Transported"]

In [5]:
X_train_data.drop(["Transported","Name"],axis=1,inplace=True)

In [6]:
X_test_data.drop(["Name"],axis=1,inplace=True)

In [7]:
X_train=X_train_data
X_test=X_test_data

In [8]:
X_test.head(3)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0

In [9]:
X_train.head(3)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0

# Handelling missing values

In [10]:
X_train.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
dtypes: float64(6), object(5)
memory usage: 815.0+ KB

In [12]:
X_train["Age"]=X_train["Age"].fillna(value=X_train["Age"].mean())

In [13]:
X_test["Age"]=X_test["Age"].fillna(value=X_test["Age"].mean())

In [14]:
flot_miss=["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]

In [15]:
for i in flot_miss:
    print(X_train[i].isna().sum())

181
183
208
183
188

In [16]:
for i in flot_miss:
    X_train[i]=X_train[i].fillna(value=X_train[i].mean())

In [17]:
for i in flot_miss:
    X_test[i]=X_test[i].fillna(value=X_test[i].mean())

In [18]:
X_train.isnull().sum()
obj=["HomePlanet","CryoSleep","Cabin","Destination","VIP"]

In [19]:
for i in obj:
    print(X_train[i].mode())

0    Earth
Name: HomePlanet, dtype: object
0    False
Name: CryoSleep, dtype: object
0    G/734/S
Name: Cabin, dtype: object
0    TRAPPIST-1e
Name: Destination, dtype: object
0    False
Name: VIP, dtype: object

In [20]:
X_train["HomePlanet"]=X_train["HomePlanet"].fillna(value="Earth")
X_train["CryoSleep"]=X_train["CryoSleep"].fillna(value=False)
X_train["Cabin"]=X_train["Cabin"].fillna(value="G/734/S")
X_train["Destination"]=X_train["Destination"].fillna(value="TRAPPIST-1e")
X_train["VIP"]=X_train["VIP"].fillna(value=False)

In [21]:
for i in obj:
    print(X_test[i].mode())

0    Earth
Name: HomePlanet, dtype: object
0    False
Name: CryoSleep, dtype: object
0    G/160/P
Name: Cabin, dtype: object
0    TRAPPIST-1e
Name: Destination, dtype: object
0    False
Name: VIP, dtype: object

In [22]:
X_test["HomePlanet"]=X_test["HomePlanet"].fillna(value="Earth")
X_test["CryoSleep"]=X_test["CryoSleep"].fillna(value=False)
X_test["Cabin"]=X_test["Cabin"].fillna(value="G/160/P")
X_test["Destination"]=X_test["Destination"].fillna(value="TRAPPIST-1e")
X_test["VIP"]=X_test["VIP"].fillna(value=False)

In [23]:
X_test.isnull().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

# Now we will change the data into an catagorical format which we can feed in an ml model

In [24]:
from sklearn.preprocessing import LabelEncoder
Lr=LabelEncoder()

In [28]:
for i in X_train.columns:
    X_train[i]=Lr.fit_transform(X_train[i])

In [30]:
for i in X_test.columns:
    X_test[i]=Lr.fit_transform(X_test[i])

In [32]:
X_train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,
0001_01,1,0,149,2,40,0,0,0,0,0,0
0002_01,0,0,2184,2,24,0,109,9,25,457,44
0003_01,1,0,1,2,59,1,43,1207,0,1274,49
0003_02,1,0,1,2,34,0,0,807,333,1133,187
0004_01,0,0,2186,2,16,0,278,69,149,471,2

In [33]:
X_test.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,
0013_01,0,1,2784,2,27,0,0,0,0,0,0
0018_01,0,0,1867,2,19,0,0,9,0,725,0
0019_01,1,1,257,0,32,0,0,0,0,0,0
0021_01,1,0,259,2,39,0,0,844,0,155,360
0023_01,0,0,1940,2,20,0,10,0,367,0,0

# Now our data is ready now we have to build a model
Here we will use the random forest

In [34]:
from sklearn.model_selection import train_test_split
train_X,val_X,train_y,val_y=train_test_split(X_train,y,random_state=1)

In [56]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error

In [55]:
a=[]
for i in range(1,8):
    model=RandomForestClassifier(n_estimators=i*50,random_state=1)
    model.fit(train_X,train_y)
    val_pre=model.predict(val_X)
    
    a.append(mean_absolute_error(val_y,val_pre))
    print(f"The value of {i} :{mean_absolute_error(val_y,val_pre)}")

The value of 1 :0.21481140754369826
The value of 2 :0.20745170193192272
The value of 3 :0.20515179392824287
The value of 4 :0.20331186752529898
The value of 5 :0.20423183072677092
The value of 6 :0.20285188592456302
The value of 7 :0.20377184912603497

In [65]:
a1=[]
for i in range(1,8):
    model2=DecisionTreeClassifier(max_leaf_nodes=i*50,random_state=1)
    model2.fit(train_X,train_y)
    val_pre2=model.predict(val_X)
    
    a1.append(mean_absolute_error(val_y,val_pre2))
    print(f"The value of {i} :{mean_absolute_error(val_y,val_pre2)}")

The value of 1 :0.20377184912603497
The value of 2 :0.20377184912603497
The value of 3 :0.20377184912603497
The value of 4 :0.20377184912603497
The value of 5 :0.20377184912603497
The value of 6 :0.20377184912603497
The value of 7 :0.20377184912603497

In [73]:
a.sort()
print(a)

[0.20285188592456302, 0.20331186752529898, 0.20377184912603497, 0.20423183072677092, 0.20515179392824287, 0.20745170193192272, 0.21481140754369826]

In [74]:
a1.sort()
print(a1)

[0.20377184912603497, 0.20377184912603497, 0.20377184912603497, 0.20377184912603497, 0.20377184912603497, 0.20377184912603497, 0.20377184912603497]

In [76]:
print(a[0]<a1[0])

True

In [77]:
Best_model=RandomForestClassifier(n_estimators=6*50,random_state=1)

In [78]:
Best_model.fit(X_train,y)

RandomForestClassifier(n_estimators=300, random_state=1)

In [95]:
output=Best_model.predict(X_test)

In [96]:
output=pd.DataFrame({"PassengerId":X_test.index,
                   "Transported":output})

In [98]:
output["Transported"]=output["Transported"].astype("bool")

In [99]:
output.to_csv("Submission.csv",index=False)